<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <div class="profile-picture">
        <img src="{{ site.baseurl }}public/images/profileImage.jpg" alt="Sua Foto">  
      </div>
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == '/data-rod/sobre/' %} active{% endif %}" href="{{ site.baseurl }}sobre/">Sobre</a>
      <a class="sidebar-nav-item{% if page.url == '/data-rod/projetos/' %} active{% endif %}" href="{{ site.baseurl }}projetos/">Projetos</a>
      <a class="sidebar-nav-item{% if page.url == '/data-rod/tutoriais/' %} active{% endif %}" href="{{ site.baseurl }}tutoriais/">Tutoriais</a>
      <a class="sidebar-nav-item{% if page.url == '/data-rod/blog/' %} active{% endif %}" href="{{ site.baseurl }}blog/">Blog</a>

      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>


    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
